Repository tinoschroeter/k8s.homelab: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Dev, Build Production, Build Docs

Build Dev:
          steps {
              echo 'Build Dev..'
              sh("cd k3s/dev/ && skaffold run")
          }   
        

Build Production:
          steps {
              echo 'Build Production....'
              sh("cd k3s/production/ && skaffold run")
            }  
          

Build Docs:
          steps {
              echo 'Build Docs...'
            }  
          

remove: kroki-graphviz
  docs/README.md
Due: Build Docs

update: npm
  button/package-lock.json
Due: Build Dev, Build Production

add: mermaid2 mkdocs plugin
  Dockerfile
  button/package-lock.json
  mkdocs.yml
Due: Build Dev, Build Production

update: ingress
  k3s/production/ingress.yaml
Due: Build Production

fix: cert-manager ingress issue
  k3s/production/ingress.yaml
Due: Build Production

update: CACHE_MAX_AGE
  k3s/production/config.yaml
Due: Build Production

update: README.md
  docs/README.md
Due: Build Docs

update: registry-ingress
  .ingress.yaml.swp
  docs/README.md
  ingress.yaml
Due: Build Docs

update: registry-ingress
  ingress.yaml
Due: none

update: registry-ingress
  .ingress.yaml.swp
Due: none

update: cpu resources
  k3s/base/button.yaml
Due: Build Dev, Build Production

add: red metrics
  button/index.js
  button/package-lock.json
  button/package.json
  k3s/base/button.yaml
  k3s/base/www.yaml
Due: Build Dev, Build Production

update: documentation
  Dockerfile
  button/package-lock.json
  docs/README.md
  docs/extra.css
  docs/extra.js
  docs/img/logo-notext.svg
  mkdocs.yml
Due: Build Dev, Build Production, Build Docs

update: npm and nodejs
  Dockerfile
  button/package-lock.json
Due: Build Dev, Build Production

update: packages + dockerfile
  Dockerfile
  button/package-lock.json
Due: Build Dev, Build Production

update: npm packages
  button/package-lock.json
Due: Build Dev, Build Production

update: npm package
  button/package-lock.json
Due: Build Dev, Build Production

add: server | worker upgrade plan
  docs/README.md
  k3s-system-upgrade.yaml
Due: Build Docs

update: k3s to v1.27
  k3s-system-upgrade.yaml
Due: none

update: to version 1.29
  k3s-system-upgrade.yaml
Due: none

add: how to debug pods in k8s
  debug/Dockerfile
  docs/README.md
Due: Build Docs

update: npm packages
  Dockerfile
  button/package-lock.json
Due: Build Dev, Build Production

update: node version
  Dockerfile
  button/package-lock.json
Due: Build Dev, Build Production

Update badge-maker imports in route files to remove ValidationError
  button/index.js
  button/package-lock.json
  button/routes/load.js
  button/routes/mem.js
  button/routes/namespaces.js
  button/routes/pods.js
  button/routes/rx.js
  button/routes/temperatur.js
  button/routes/top.js
  button/routes/tx.js
  button/routes/uptime.js
Due: Build Dev, Build Production

upgrate to version 1.30.6
  k3s-system-upgrade.yaml
Due: none

fix: missing document start ---
  k3s-system-upgrade.yaml
Due: none

update: to version 1.32
  k3s-system-upgrade.yaml
Due: none

update k8 version to 1.33.6
  button/package-lock.json
  k3s-system-upgrade.yaml
Due: Build Dev, Build Production

update super-linter
  .github/workflows/linter.yml
Due: none

fix super-linter version
  .github/workflows/linter.yml
Due: none

removed the .body wrapper from API responses
  button/routes/namespaces.js
  button/routes/pods.js
Due: Build Dev, Build Production

update node version
  Dockerfile
  button/package-lock.json
Due: Build Dev, Build Production

update k8s version
  k3s-system-upgrade.yaml
Due: none

add pi bootstrap script
  pi_bootstrap.md
Due: none

update k3s version
  k3s-system-upgrade.yaml
Due: none

update resources limits
  k3s/base/button.yaml
Due: Build Dev, Build Production

update docker file
  Dockerfile
Due: none

Path conditions:
  Build Dev: (((any of: button/**) or (any of: www/**)) or (any of: k3s/base/**)) or (any of: k3s/dev/**)
  Build Production: (((any of: button/**) or (any of: www/**)) or (any of: k3s/base/**)) or (any of: k3s/production/**)
  Build Docs: any of: docs/**
