Repository tinoschroeter/k8s.homelab: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Dev, Build Production

Jenkinsfile:

pipeline {
  agent any

  stages {
      stage('Linting') {
          steps {
          echo 'linting..'
          }
      }
      stage('Build Dev') {
        when { 
          branch 'dev'
          anyOf {
            changeset "button/**"
            changeset "button/**"
            changeset "www/**"
            changeset "k3s/base/**"
            changeset "k3s/dev/**"
          }
        }
        steps {
            echo 'Build Dev..'
            sh("cd k3s/dev/ && skaffold run")
        }   
      }
      stage('Build Production') {
        when { 
          branch 'master'
          anyOf {
            changeset "button/**"
            changeset "button/**"
            changeset "www/**"
            changeset "k3s/base/**"
            changeset "k3s/production/**"
          }
        }
        steps {
            echo 'Build Production....'
            sh("cd k3s/production/ && skaffold run")
        }  
     }
  }
}

add: build the docs
  Jenkinsfile
Due: none

add: super-linter badge
  docs/README.md
Due: none

trigger pipeline
  button/index.js
Due: Build Dev, Build Production

update README.md
  docs/README.md
Due: none

update: web
  www/build.sh
Due: Build Dev, Build Production

add: slack post action
  Jenkinsfile
  docs/README.md
Due: none

testing: slack post action
  Jenkinsfile
Due: none

testing: printenv
  Jenkinsfile
Due: none

testing: env vars
  Jenkinsfile
Due: none

fix: post action
  Jenkinsfile
Due: none

add: nodeSelector main-node01
  k3s/base/button.yaml
Due: Build Dev, Build Production

add: tolerations for main-node01
  Jenkinsfile
  k3s/base/button.yaml
Due: Build Dev, Build Production

add: tolerations for main-node01
  k3s/base/button.yaml
Due: Build Dev, Build Production

add: tolerations for master node
  k3s/base/button.yaml
Due: Build Dev, Build Production

add: uptime
  button/index.js
  button/routes/domains.js
  button/routes/rx.js
  button/routes/tx.js
  button/routes/uptime.js
  docs/README.md
Due: Build Dev, Build Production

fix: uptime
  button/index.js
  k3s/base/button.yaml
Due: Build Dev, Build Production

fix: uptime
  button/routes/uptime.js
Due: Build Dev, Build Production

update: uptime label
  button/routes/uptime.js
Due: Build Dev, Build Production

update: rearrange buttons
  docs/README.md
Due: none

update: README.md
  docs/README.md
Due: none

update: CACHE_MAX_AGE: to 5 minutes
  k3s/production/config.yaml
Due: Build Production

update: npm
  button/package-lock.json
  www/build.sh
Due: Build Dev, Build Production

add: last-commit button
  docs/README.md
Due: none

add: spell check script
  .aspell.en.prepl
  .aspell.en.pws
  spell-check.sh
Due: none

fix: shell linter
  spell-check.sh
Due: none

add cpu and mem button
  button/index.js
  button/package-lock.json
  button/routes/load.js
  button/routes/mem.js
Due: Build Dev, Build Production

update anchor tag
  docs/README.md
Due: none

update npm
  button/package-lock.json
  docs/README.md
Due: Build Dev, Build Production

add alt-text
  docs/README.md
Due: none

update install agent
  docs/README.md
Due: none

add: readTheDocs mkdocs
  Dockerfile
  docs/README.md
  k3s/base/button.yaml
  k3s/base/www.yaml
  mkdocs.yml
  www/build.sh
  www/ribbon.html
  www/style.css
Due: Build Dev, Build Production

testing: meremaid diagrams
  docs/README.md
Due: none

update: npm
  button/package-lock.json
Due: Build Dev, Build Production

add: memcached setup
  button/README.md
Due: Build Dev, Build Production

Update README.md
  button/README.md
Due: Build Dev, Build Production

add: more temperatur colors + update npm
  button/package-lock.json
  button/routes/temperatur.js
Due: Build Dev, Build Production
